*.o
*.lo
*~
*.la
*.pc
*.tgz
*.gz
.dirstamp

Makefile

.cproject
.project
.settings

CMakeCache.txt
CMakeFiles
Debug
Release
DebugServer
ReleaseServer
cmake_install.cmake
core/CMakeCache.txt
core/CMakeFiles
core/Makefile
core/cmake_install.cmake
lwm2mclient
lwm2mserver
tlvdecode

tests/utils/tinydtls