name: Build and Test

on:
  push:
    branches: '**'
  pull_request:
    branches: '**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_and_test:
    runs-on: ubuntu-24.04

    strategy:
      matrix:
        sanitizer: ["address", "leak", "thread", "undefined"]
        compiler: ["clang-18", "gcc-13"]
        example: ["bootstrap_server", "client/udp", "client/tinydtls", "client/raw_block1", "lightclient", "server"]

    steps:
    - name: Checkout code including full history and submodules
      uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        submodules: true
        fetch-depth: 0

    - name: Install dependencies from APT repository
      run: |
        sudo apt-get update
        sudo apt-get install cmake libcunit1-dev ninja-build

    - name: Build all binaries
      run: |
        tools/ci/run_ci.sh --run-build --sanitizer ${{ matrix.sanitizer }}  --verbose
      env:
        CC:  ${{ matrix.compiler }}

    - name: Build, execute sanitized unit tests
      run: |
        tools/ci/run_ci.sh --run-tests
      env:
        CC:  ${{ matrix.compiler }}

    - name: Build examples
      run: |
        tools/ci/run_ci.sh \
          --run-clean \
          --run-build \
          --sanitizer ${{ matrix.sanitizer }} \
          --source-directory examples/${{ matrix.example }} \
          --build-directory wakaama-build-${{ matrix.example }}
      env:
        CC:  ${{ matrix.compiler }}

    - name: Unit test examples
      run: |
        tools/ci/run_ci.sh \
          --run-tests \
          --source-directory examples/${{ matrix.example }} \
          --build-directory wakaama-build-${{ matrix.example }}
      env:
        CC:  ${{ matrix.compiler }}
