name: Clang Static Analyzer

on: [push, pull_request]

jobs:
  clang_static_analyzer:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code including full history and submodules
      uses: actions/checkout@v3
      with:
        submodules: true
        fetch-depth: 0

    - name: Install dependencies from APT repository
      run:  |
        sudo apt-get update
        sudo apt-get install clang-tools-14 cmake libcunit1-dev ninja-build unzip wget

    - name: Run Clang Static Analyzer
      run: tools/ci/run_ci.sh --run-build --scan-build scan-build-14

    - name: Upload scan build reports
      uses: actions/upload-artifact@v1
      with:
        name: Clang Static Analyzer Reports
        path: build-wakaama/clang-static-analyzer
