name: Compliance

on: pull_request

jobs:
  lint-code:
    name: Run compliance checks
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code including full history
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Install compliance tools
      run: |
        sudo apt update
        sudo apt -qy --no-install-recommends install clang-format-14
        pip3 install -r tools/requirements-compliance.txt

    - name: Check commits with gitlint
      run: |
        tools/ci/run_ci.sh --branch-target origin/${{ github.base_ref }} --run-gitlint

    - name: Check C code (delta) with clang-format
      run: |
        tools/ci/run_ci.sh --branch-target origin/${{ github.base_ref }} --run-clang-format

    - name: Check CMakeLists.txt files with cmake-lint
      run: |
        tools/ci/run_ci.sh --run-cmake-format

    - name: Check Python code with pylint
      run: |
          cd tests
          pylint integration
