name: Measure coverage

on: [push, pull_request]

jobs:
  coverage:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout code including full history and submodules
      uses: actions/checkout@v3
      with:
        submodules: true
        fetch-depth: 0

    - name: Install dependencies from APT repository
      run:  |
        sudo apt-get update
        sudo apt-get install cmake gcovr libcunit1-dev ninja-build unzip wget

    - name: Collect test coverage data
      run: |
        tools/ci/run_ci.sh \
          --run-build \
          --run-tests \
          --test-coverage html

    - name: Upload HTML coverage report
      uses: actions/upload-artifact@v1
      with:
        name: Coverage Report (HTML)
        path: build-wakaama/coverage
